* {
	--rojo: #E50914;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	width: 90%;
	margin: 50px;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/6e32b96a-d4be-4e44-a19b-1bd2d2279b51/3639eec9-3234-452b-aaf8-3e58e7944f5e/MX-es-20220516-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
  }
  
  .form-register {
	width: 400px;
	background: rgba(34,34,34,0.75);
    background-color: rgba(0,0,0,0.1);
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
	font-size: 22px;
	margin-bottom: 20px;
  }
  
  .controls {
	width: 100%;
	background: #24303c;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #000000f8;
	font-family: 'calibri';
	font-size: 18px;
	color: white;
  }
  
  .form-register p {
	height: 40px;
	text-align: center center;
	font-size: 18px;
	line-height: 40px;
  }
  
  .form-register a {
	color: white;
	text-decoration: none;
  }
  
  .form-register a:hover {
	color: white;
	text-decoration: underline;
  }
  
  .form-register .botons {
	width: 100%;
	background: #e60000;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
  }